*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.cabecera {
    background-color: #3949ab ;
    color: white;
    text-align: center;
    padding: 14px;
}

.titulo {
    display: inline-block;
    width: 1000px;
    font-weight: bold;
}

.profesion {
    display: inline-block;
    font-weight: 200;
    font-size: 24px;
}

.descripcion {
    background-color: #f06292;
    text-align: center;
    font-size: 20px;
    padding: 8px;
}

h3 {
    font-size: 38px;
    text-transform: uppercase;
}



.seccion {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;

}

#lista {
    font-weight: lighter;
    font-size: large;
}

.titulogrado {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.habilidades {
    font-weight: lighter;
    padding-left: 20px ;
}

.redes {
    padding-left: 20px;
    font-weight: lighter;
}

.texto {
    display: inline-block;
    width: 65%;
}

.foto {
    margin-top: 30px;
    display: inline-block;
    width: 25%;
}